:root {
  --font-basic: "Lato", sans-serif;
  --font-title: "Oswald", sans-serif;

  --color-light: #ffffff;
  --color-dark: #000000;

  --color-primary: #444444;
  --color-secondary: #f2f2f2;
  --color-accent: #68b738;
}
