.additional-products {
  padding-block: 10px 20px;
}

.additional-products__container {
  display: grid;
  gap: 35px;
}

.additional-products__title {
  font-size: 24px;
}

.additional-products__list {
  //
}
