.hero {
  color: var(--color-light, inherit);


  &::before {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 367px;
    background-color: var(--color-accent,);
    z-index: -2;
    content: "";

    @include tablet {
      display: none;
    }

    @include desktop {
      display: block;
      right: 0;
      width: 50vw;
      height: 694px;
    }
  }

  @include desktop {
    min-height: 571px;
    margin-bottom: 82px;
  }
}

.hero__container {
  padding-block: 27px 20px;
  text-align: center;

  @include tablet {
    padding-block: 40px 0;
    display: grid;
    padding-inline-start: 120px;
  }

  @include desktop {
    padding-block: 101px 101px;
    padding-inline-start: 110px;
    grid-template-columns: 50%;
  }
}

.hero__title {
  margin-bottom: 25px;

  @include fluid-text-mob(36, 60);
  color: inherit;

  @include tablet {
    margin-bottom: 40px;
    color: var(--color-dark, #000000);
    text-align: start;
  }
}

.hero__subtitle {
  margin-bottom: 30px;

  @include fluid-text-mob(14, 20);
  text-transform: uppercase;
  color: inherit;

  @include tablet {
    margin-bottom: 50px;
    color: var(--color-dark, #000000);
    text-align: start;
  }
}

.hero__container picture {
  @include tablet {
    display: contents;
  }
}

.hero__image {
  @include mobile {
    @include fluid-width-mob(280, 400);
  }

  @include tablet {
    position: relative;
    display: block;
    max-width: calc(100% + 90px);
    margin-block-start: -83px;
    left: calc(50% - 45px);
    transform: translateX(-50%);
    order: 4;
  }

  @include desktop {
    position: absolute;
    margin-block-start: -80px;
    transform: translateX(-21.4%);
    z-index: -1;
  }
}

.hero__button {
  @include fluid-text-mob (16, 20);

  @include tablet {
    width: max-content;
    padding-block: 14px;
    line-height: 1.3;
    z-index: 1;
  }
}
