.navigation {
  //
}

.navigation__toggle {
  //
}

.navigation__list {
  display: flex;

  &--open,
  &--close {
    position: absolute;
    flex-direction: column;
    background-color: var(--color-light, inherit);
    top: 69px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
  }

  &--close {
    display: none;
  }
}

.navigation__item {
  //
}

.navigation__link {
  font-family: var(--font-title,);
  font-size: 20px;
  width: 100%;
  display: inline-block;
  padding-top: 23px;
  padding-bottom: 24px;
  line-height: 1;
  text-transform: uppercase;
  box-shadow: 0 -1px 0 0 var(--color-secondary-light, inherit), inset 0 -1px 0 0 var(--color-secondary-light, inherit);

  &--current {
    pointer-events: none;
  }
}
