.programs {
  display: flex;
  flex-flow: row wrap;

  @include fluid-gap-mob(20, 30);
  padding-block-end: 20px;

  @include tablet {
    padding-block-end: 45px;
  }

  @include desktop {
    gap: 80px;
    padding-block-end: 71px;
  }
}
